{% extends 'theme.html' %}
{% load static %}
{% block content %}
<div class="container">
   <center>
   <h2>RECOMMENDED</h2>
   </center>
   <div class="card" style="width: 500px;">
      <div class="card-body">
         <i class="fa-brands fa-google-pay fa-beat" style="color: #74C0FC; font-size: medium;"></i>   <button type="submit" style="background-color:white; width: 200px;">Googel pay UPI</button>
      </div>
    </div>
    <br>
    <br>
    <center>
    <h3>CARDS</h3>
    </center>
    <br>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <i class="fa-regular fa-credit-card fa-beat"></i></i>   <button type="submit" style="background-color:white; width: 220px;">Add credit or debit cards</button><button type="submit" class="btn-outline-danger" style="margin-left:140px; color: red;">ADD</button>
      </div>
    </div>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <img src="{% static 'img/pluxee-logo-BEB3D5C45A-seeklogo.com.png' %}" alt="" style="width: 8%; height: 10px;">   <button type="submit" style="background-color:white; width: 200px;">Add pluxee</button><button type="submit" class="btn-outline-danger" style="margin-left:140px;color: red;">ADD</button>
      </div>
    </div>
    <br>
    <br>
    <center>
      <img src="{% static 'img/unified-payments-interface-upi-logo-vector.png' %}" alt="" style="width: 50px; margin-right: 340px;"><h3>PAY BY ANY UPI APP</h3>
      
    </center>
    <br>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <img src="{% static 'img/phonepe-icon.webp' %}" alt="" style="width: 8%; height: 20px;">   <button type="submit" style="background-color:white; width: 250px;">Phonepe UPI</button>
      </div>
    </div>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <img src="{% static 'img/Paytm-Logo.wine.png' %}" alt="" style="width: 8%; height: 20px;">    <button type="submit" style="background-color:white; width: 250px;">paytm UPI</button>
      </div>
    </div>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <img src="{% static 'img/bajaj-logo-581A18EFC1-seeklogo.com.png' %}" alt="" style="width: 8%; height: 20px;">   <button type="submit" style="background-color:white; width: 250px;">Bajaj pay UPI</button>
      </div>
      </div>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <img src="{% static 'img/Flipkart-Emblem.png' %}" alt="" style="width: 8%; height: 20px;">   <button type="submit" style="background-color:white; width: 250px;">Flipkart UPI</button>
      </div>
    </div>
    <div class="card" style="width: 500px;">
      <div class="card-body">
         <img src="{% static 'img/unified-payments-interface-upi-logo-vector.png' %}" alt="" style="width: 8%; height: 20px;">   <button type="submit" style="background-color:white; width: 235px;">Add new UPI ID</button><button type="submit" class="btn-outline-danger" style="margin-left:140px; color: red;">ADD</button>
      </div>
    </div>
      <br>
      <br>
      <center>
      <h3>WALLETS</h3>
      </center>
      <br>
      <div class="card" style="width: 500px;">
         <div class="card-body">
            <img src="{% static 'img/mobikwik-380.avif' %}" alt="" style="width: 9%; height: 25px;">   <button type="submit" style="background-color:white; width: 250px;">Flipkart UPI</button>
         </div>
       </div>
       <div class="card" style="width: 500px;">
         <div class="card-body">
            <i class="fa-brands fa-cc-amazon-pay fa-beat"></i>  <button type="submit" style="background-color:white; width: 250px;">Add credit or debit cards</button><button type="submit" class="btn-outline-danger" style="margin-left:140px; color: red;">Link</button> 
         </div>  
       </div>
       <br>
       <br>
       <center>
         <h3>PAY ON DELIVERY</h3>
         </center>
       <br>
       <div class="card" style="width: 500px; height: 50px;">
         <div class="card-body">
            <i class="fa-solid fa-money-bill-wave fa-beat"></i></i>  <button type="submit" style="background-color:white; width: 250px;">Cash on delivery</button>
            </div>
            </div>
</div>
{% endblock %}